<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css" />
    <script src="https://kit.fontawesome.com/ebcb4d12ae.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <img class="header-logo"src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <form class="header__bar__search" action="" method="post">
            <input type="text" name="bar-search" placeholder="Buscar aquí"><i class="fa-solid fa-magnifying-glass"></i>
        </form>
        <p id="header-info"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
        <nav id="nav-pag">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tienda Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </nav>
        <nav id="nav-login">
            <ul>
                <li><a href="/registro">Crear tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="">Ingresa <i class="fa-solid fa-right-to-bracket"></i> </a></li>
                <li><a href="">Mis compras<i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>
    <main>
    <section id="main-banner-home">
        <img src="\img\img-home-banner.jpg" alt="banner">
    </section>
    <div class="main__section__based__title">
    <h2>Basado en tu última visita</h2>
    </div>
    <section class="main-list-articles-home">
        <article>
            <img src="\img\img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
            <div class="logo_envios"><i class="fa-solid fa-truck" style="color: #48db4a;"></i></div>
            <p class="home__main_section_precio">$6.770</p>
            <p class="home__main_section_oferta">40% OFF</p>
            <p class="home__main_section_producto">Cafetera Moulinex</p>
        </article>
        <article>
            <img src="\img\img-macbook-pro-2019.jpg" alt="img-cafetera-moulinex">
            <div class="logo_envios"><i class="fa-solid fa-truck" style="color: #48db4a;"></i></div>
            <p class="home__main_section_precio">$230.000</p>
            <p class="home__main_section_oferta">20% off</p>
            <p class="home__main_section_producto">MacBook Pro 2019</p>
        </article>
        <article>
            <img src="\img\img-samsung-galaxy-s10.jpg" alt="img-cafetera-moulinex">
            <div class="logo_envios"><i class="fa-solid fa-truck" style="color: #48db4a;"></i></div>
        <p class="home__main_section_precio">$70.500</p>
        <p class="home__main_section_oferta">10% off</p>
        <p class="home__main_section_producto">Samsung Galaxy S10</p>
        </article>
        <article>
            <img src="\img\img-tv-samsung-smart.jpg" alt="img-cafetera-moulinex">
            <div class="logo_envios"><i class="fa-solid fa-truck" style="color: #48db4a;"></i></div>
            <p class="home__main_section_precio">$23.200</p>
            <p class="home__main_section_oferta">5% off</p>
            <p class="home__main_section_producto">SmartTv Samsung 43"</p>
        </article>
    </section>
    </main>
    <footer>
        <div>
        <i class="fa-solid fa-credit-card" ></i>
    </div>    
        <p>Pagá con tarjeta o en efectivo
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
                <div><i class="fa-solid fa-gift"></i></div>
            <p>Envío gratis desde $ 2.500
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <div><i class="fa-solid fa-user-shield"></i></div>
                <p>Seguridad, de principio a fin
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>