footer{
    background-color: white ;
}
footer p{
    margin: 2% 30%;
    text-align: center;
}
footer div{
    text-align: center;

}
footer i{
    color: var(--color-Celeste);
    margin-top: 5%;
    font-size: 30px;
    
}