.header{
    background-color: #EAC926;
    width: 100%;
}

#header-logo{
    text-align: center;
    margin-bottom: 10px;
    width: 40%;
    margin: 4%;
}
.burger-menu{
}
.burger-menu i{
    border-radius: 4px;
    font-size: 30px;
    background-color: var(--color-Celeste);
    padding: 4px;
    margin-bottom: 10px;
}
#header-barra-busqueda{
    background-color: white;
    width: fit-content;
    font-size: 12px;
    margin-bottom: 20px;
}
#header-info{
    display: flex;
    font-size: 12px;
    margin: 2% 14%;
}
#nav-pag{
    margin-bottom: 20px;

}
#nav-pag li{
    font-size: 12px;
    margin-bottom: 2px;
}
#nav-login li{
    font-size: 12px;
    margin-bottom: 2px;

}
header div i{
    margin-left: 45%;
}
@media (min-width: 320px){
    #nav-login{
        display: none;
    }
    #nav-pag{
        display: none;
    }
}

@media (min-width: 426px){
    #header-info{
        font-size: 16px;
    }
    #header-barra-busqueda{
        font-size: 16px;
        padding: 2px;
    }

}

@media (min-width: 769px){ /*Desktop*/
    .burger-menu{
        display: none   ;
    }
    #nav-login{
        display: flex;
    }
    #header-info{
        font-size: 18px;
    }
    #nav-login li{
        font-size: 18px;
    }
    #nav-pag{
        display: flex;
    }
    #nav-pag li{
        font-size: 18px;
    }
    #header-barra-busqueda{
        font-size: 16px;
        padding: 2px;
    }
    }