.header{
    background-color: #EAC926;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.header-logo{
    margin: 1em;
    width: 30vw;
}

.header__bar__search{
    margin: auto;
}
.header__bar__search i{
    background-color: white;
    padding: 0.06em;

}
.header__bar__search input{
    width: 28vw;
    border: 1px solid #c8c8c8;
}
#header-info{
    margin: auto;
    font-size: 0.8em;
}
.burger-menu{
    margin: 0.4em auto;
    width: 100vw;
    text-align: center;
}
.burger-menu i{
    border-radius: 5px;
    background-color: var(--color-Celeste);
    padding: 0.4em;
}
#nav-pag{
    display: none;
}
#nav-pag li{
}
#nav-login{
    display: none;
}
#nav-login li{
}
@media (min-width: 768px){
    .burger-menu{
        display: none   ;
    }
    #header-info{
        text-align: center;
        width: 30vw;
        font-size: 1em;
    }
    #nav-login{
        display: flex;
        justify-content: center;
        width: 50%;
        margin-bottom: 10px
    }
    #nav-login li{
        display: inline;
        margin: 0px 1em;
        font-size: 14px;
    }
    #nav-pag{
        display: flex;
        justify-content: center;
        width: 50%;
        margin-bottom: 10px;
    }
    #nav-pag li{
        display: inline;
        margin: 0px 1em;
        font-size: 14px;
    }
    #header-barra-busqueda{
    }
}

@media (min-width: 1024px){ /*Desktop*/
    .burger-menu{
        display: none   ;
    }

    #header-info{
        text-align: center;
        width: 30vw;
        font-size: 1em;
    }
    #nav-login{
        display: flex;
        justify-content: center;
        width: 50%;
        margin-bottom: 0.5em;
    }
    #nav-login li{
        display: inline;
        margin: 0px 1em;
        font-size: 1em;
    }
    #nav-pag{
        display: flex;
        justify-content: center;
        width: 50%;
        margin-bottom: 0.5em;
    }
    #nav-pag li{
        display: inline;
        margin: 0px 1em;
        font-size: 1em;
    }
    #header-barra-busqueda{
    }
    }