body{
    background-color: var(--color-Gris-claro);
}

#main-banner-home img{
    width: 100%;
}
.main-list-articles-home article{
    margin: 30px 10px;
    background-color: white;
}
.main-list-articles-home img{

    width: 100%;
}